---
import { Markdown } from 'astro/components';

import Main from '../../layouts/main.astro'
import Navbar from '../../components/Navbar.jsx'
import Breadcrumb from '../../components/Breadcrumb.jsx'
import Contact from '../../components/Contact.jsx'
import Footer from '../../components/Footer.jsx'

export async function getStaticPaths() {
  const data = Astro.fetchContent('../../posts/*.md')
  data.forEach(d=>{
    console.log(d.slug)
  })
  return data.map(post=>{
    return {
      params:{
        slug:post.slug
      },
      props:{
        post
      }
    }
  })
}

const {post} = Astro.props
console.log(post)
---

<Main title={post.title} description={post.description}>
<Navbar/>
<Breadcrumb slug={post.slug}/>
  <span class='bg-blue-500 bg-opacity-30 m-2 text-white text-sm px-2.5 py-1 rounded'>{post.tag}</span>
  <article class="article">
    <Markdown>
      {post.content.source}
    </Markdown>
  </article>
<Contact/>
<Footer/>
</Main>