---
export async function getStaticPaths() {
    const data = await fetch('https://api.storyblok.com/v1/cdn/stories' + `?&token=${import.meta.env.SB_TOKEN}&starts_with=blog&resolve_relations=writer&cv=${new Date}`)
    const {stories} = await data.json()
    
    return stories.map((post,index) => {
        const nextPost = stories[index+1]
        return {
            params: { slug: post.slug },
            props: {post, nextPost},
        };
    });
}

import { Markdown } from 'astro/components';
import Author from "@components/molecules/BlogPost/Author.astro";
import FeaturedBlogPost from "@components/molecules/BlogPost/FeaturedBlogPost.astro";
import Breadcrumb from "@components/molecules/Breadcrumb.astro";
import Main from "@layouts/Main.astro";
import Image from '@components/atoms/Image.astro';

const {post, nextPost} = Astro.props
---

<Main image={post.content.thumbnail.filename} title={post.name} description={post.content.intro}>
    <Breadcrumb navigation={[ { title:"Blog", href:"/blog/" }, {title:post.name, href:"#"} ]} />
    <div class="max-w-[64ch]  mx-auto px-4 lg:px-0">
        <figure class="rounded-md overflow-hidden aspect-video">
            <Image file={post.content.thumbnail.filename} classes="w-full object-cover"/>
        </figure>
        <article class="markdown">
            <h1>
                {post.name}
            </h1>
            <p>
                {post.content.intro}
            </p>
            <Markdown content={post.content.long_text}/>
        </article>
        <Author title={post.content.writer.content.Title} name={post.content.writer.name} picture={post.content.writer.content.Image.filename} />
        {nextPost && <FeaturedBlogPost picture={nextPost.content.thumbnail.filename} href={nextPost.slug} title={nextPost.name} text={nextPost.content.intro} />}
    </div>
</Main>