---
export async function getStaticPaths() {
    const data = await fetch('https://api.storyblok.com/v1/cdn/stories' + `?&token=${import.meta.env.SB_TOKEN}&starts_with=blog&resolve_relations=writer&cv=${new Date}`)
    const {stories} = await data.json()
    
    return stories.map((post,index) => {
        const nextPost = stories[index+1]
        return {
            params: { slug: post.slug },
            props: {post, nextPost},
        };
    });
}

import { Markdown } from 'astro/components';
import Author from "@components/molecules/BlogPost/Author.astro";
import FeaturedBlogPost from "@components/molecules/BlogPost/FeaturedBlogPost.astro";
import Breadcrumb from "@components/molecules/Breadcrumb.astro";
import Main from "@layouts/Main.astro";
import { getWidthAndHeight } from 'utils/image-size';
import Image from '@components/atoms/Image.astro';


const {post, nextPost} = Astro.props
const image = getWidthAndHeight(post.content.thumbnail.filename)
---

<Main title={post.name} description={post.content.intro}>
    <Breadcrumb navigation={[ { title:"Blog", href:"/blog" }, {title:post.name, href:"#"} ]} />
    <div class="max-w-[64ch] mx-auto space-y-4 px-4 lg:px-0">
        <figure class="rounded-md overflow-hidden aspect-video">
            <Image file={post.content.thumbnail.filename} classes="w-full object-cover"/>
        </figure>
        <h1 class="text-4xl font-semibold">
            {post.name}
        </h1>
        <p>
            {post.content.intro}
        </p>
        <Markdown content={post.content.long_text}/>
        <Author title={post.content.writer.content.Title} name={post.content.writer.name} picture={post.content.writer.content.Image.filename} />
        {nextPost && <FeaturedBlogPost href={nextPost.slug} title={nextPost.name} text={nextPost.content.intro} />}
    </div>
</Main>