---
import Main from "../../layouts/Main.astro"
import { Markdown } from 'astro/components';
import Breadcrumb from "../../components/molecules/Breadcrumb.astro";
import BlogNextArticle from "../../components/atoms/BlogNextArticle.astro";
import Ctacontact from "../../components/molecules/Ctacontact.astro";
import LastArticles from "../../components/atoms/LastArticles.astro";
import config from "../../../config";
export async function getStaticPaths() {
const data = await fetch('https://api.storyblok.com/v1/cdn/stories' + `?&token=${"0N5jxUC1Wq7PEsvMxAOmrgtt"}&starts_with=articles&cv=${Date.now()} `)
const {stories} = await data.json()
  return stories.map((post,index) => {
    const previous = stories[index-1] ? stories[index-1] : null
    const next = stories[index+1] ? stories[index+1] : null
    return {
      params: { slug: post.slug},
      props:{
          currentPost: post,
          posts:stories,
          previous,
          next
      }
    };
  });
}
const {currentPost, posts, previous, next} = Astro.props

const lastArticles = posts.slice(0,3)

---

<Main title={currentPost.content.title + " | loak.studio"} description={currentPost.content.intro} image={"https:"+currentPost.content.image}>
    <Breadcrumb link={[{title:'Blog',href:"/blog/"},{title:currentPost.tag_list[0],href:"/blog/" + config.createSlug(currentPost.tag_list[0]) + "/1/"}]} current={currentPost.content.title}/>
    <div class="flex items-start justify-between w-full max-w-6xl px-4 mx-auto xl:px-0">
        <article id="blog-post" class="w-full relative max-w-[64ch]">
            <figure class="relative w-full">
                <img class="w-full rounded-2xl" src={"https:" + currentPost.content.image} alt="">
                <span class="absolute p-2 capitalize bg-white rounded-lg left-4 bottom-4">{currentPost.tag_list[0]}</span>
            </figure>

            <h1 class="my-12 text-3xl">{currentPost.content.title}</h1>
            <p>{currentPost.content.intro}</p>
            <Markdown content={currentPost.content.long_text}/>
            <span class="inline-block my-12 text-lg text-lgrey">
                Article écrit par {currentPost.content.author}
            </span>

            <BlogNextArticle articles={[previous,next]}/>
        </article>
        <LastArticles articles={lastArticles}/>
    </div>
    <Ctacontact/>
</Main>