---
import config from "../../../config";
import BlogHeader from "../../components/molecules/BlogHeader.astro";
import Breadcrumb from "../../components/molecules/Breadcrumb.astro";
import PaginationSection from "../../components/molecules/PaginationSection.astro";
import TagPicker from "../../components/molecules/TagPicker.astro";
import BlogList from "../../components/organisms/BlogList.astro";
import Main from "../../layouts/Main.astro"
const data = await fetch('https://api.storyblok.com/v1/cdn/stories' + `?&token=${"0N5jxUC1Wq7PEsvMxAOmrgtt"}&starts_with=articles&cv=${new Date}`)

const tagsRequest = await fetch('https://api.storyblok.com/v1/cdn/tags' + `?&token=${"0N5jxUC1Wq7PEsvMxAOmrgtt"}&cv=${new Date}`)
const {tags} = await tagsRequest.json()
const {stories} = await data.json()
const frontArticle = stories.slice(0,1)[0]
const articles = stories.slice(1,7)
const pagesNumber = Math.ceil((stories.length-1) / config.itemPerPages)
---

<Main title="Blog | loak.studio">
    <Breadcrumb current="Blog"/>
    <BlogHeader data={frontArticle}/>
    <TagPicker tags={tags} current="index"/>
    <BlogList posts={articles}/>
    <PaginationSection pages={pagesNumber} current={1}/>
</Main>