---
import Image from "@components/atoms/Image.astro";
import { getWidthAndHeight } from "utils/image-size";

const data = await fetch('https://api.storyblok.com/v1/cdn/stories' + `?&token=${import.meta.env.SB_TOKEN}&starts_with=references&cv=${new Date}`)
const references = await data.json()
const datacomments = await fetch('https://api.storyblok.com/v1/cdn/stories' + `?&token=${import.meta.env.SB_TOKEN}&starts_with=comments&cv=${new Date}`)
const comments = await datacomments.json()
---

<section id="references" data-references class="max-w-6xl w-full mx-auto px-4 lg:px-0">
    <h2 class="mb-12 text-primary-800 text-3xl font-semibold text-center">Nos références</h2>
    <ul class="opacity-0 flex md:justify-center gap-16 overflow-scroll">
        {references.stories.map(client=>
        <li class=" shrink-0 lg:shrink">
            <figure class="grayscale transition max-w-[200px]">
                <Image file={client.content.logo.filename} classes="w-full"/>
            </figure>
        </li>
        )}
    </ul>
    <div data-comment class="overflow-hidden mt-12 mx-auto max-w-2xl md:px-11 md:py-12 p-4 bg-gray-50 rounded-md shadow-xl">
        <div class="transition-all relative flex items-center gap-3">
            <figure class="shrink-0 w-9 h-9 rounded-full overflow-hidden">
                <img loading="lazy" width={getWidthAndHeight(comments.stories[0].content.picture.filename).width} height={getWidthAndHeight(comments.stories[0].content.picture.filename).height}  data-current-comment-picture src={comments.stories[0].content.picture.filename} alt="">    
            </figure>
            <p>
                <span  data-current-comment-name>{comments.stories[0].content.name}</span>, <span  data-current-comment-job>{comments.stories[0].content.job}</span></p>
        </div>
        <blockquote data-current-comment-text class="transition-all relative mt-8">
            {comments.stories[0].content.content}
            </blockquote>
    </div>
    <ul class="flex mt-12 justify-center gap-3">
        {comments.stories.map((comment,index)=>
            <li data-customer-name={comment.content.name} data-customer-job={comment.content.job} data-customer-comment={comment.content.content} data-customer-picture={comment.content.picture.filename} class={"w-6 h-6 hover:bg-primary-100 md:w-3 md:h-3 rounded-full cursor-pointer transition" + " " + (index ==0 ? 'bg-primary-500' : 'bg-gray-300')}></li>
        )}
    </ul>
</section>