---
import Bulb from "../../../images/bulb.webp"
import Bag from "../../../images/hero/bag-dynamic-clay.webp"
import Target from "../../../images/target.png"
import Roll from "../../../images/roll-brush.png"
import Travel from "../../../images/travel.png"

const getIcon = (icon)=>{
    switch (icon) {
        case "Bag":
          return Bag
          case "Target":
          return Target
          case "Roll":
          return Roll
          case "Travel":
          return Travel
        default:
            break;
    }
}

const data = await fetch('https://api.storyblok.com/v1/cdn/stories' + `?&token=${import.meta.env.SB_TOKEN}&starts_with=services&cv=${new Date}`)
const {stories} = await data.json()
---

<section id="services"
    class="relative after:w-full overflow-x-hidden after:absolute after:bottom-0 after:-z-10 after:h-[350px] lg:after:bg-gray-100 pb-36">
    
    <div class="max-w-6xl w-full mx-auto relative">

        <img id="bulb" width="500" height="500" class="absolute right-0 -rotate-12 top-28 max-w-[230px]" src={Bulb} alt="">
        <div class=" p-2 md:p-7 bg-white lg:shadow-xl max-w-2xl rounded-md">
            <h3 class=" font-semibold text-3xl mb-5">Nos services</h3>
            <p class="mb-10">Nous avons des solutions à chacun de vos problèmes</p>

            <ul class=" space-y-7 md:flex md:flex-col md:items-start">
                {stories.map(service=>
                <li
                    class="w-full md:w-auto flex group items-center overflow-hidden gap-7 before:transition-all transition before:w-full before:-left-full before:z-0 before:absolute hover:before:left-0 before:h-full before:bg-gray-100 relative border-transparent border hover:delay-100 hover:border-primary-500 p-2 rounded-md">
                    <figure   class="z-10 shrink-0">
                        <img height="500" width="500" class=" w-12 h-12" src={getIcon(service.content.icon)} alt="">
                    </figure>
                    <a href={"/service/" + service.slug} class="z-10 before:absolute before:inset-0 md:text-2xl">{service.name}</a>
                    <span class="z-10 block cursor-pointer delay-150 transition-all md:group-hover:ml-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class=" stroke-primary-500" width="30" height="30"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="#888787" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <line x1="5" y1="12" x2="19" y2="12" />
                            <line x1="13" y1="18" x2="19" y2="12" />
                            <line x1="13" y1="6" x2="19" y2="12" />
                        </svg>
                    </span>
                </li>
                )}
            </ul>
        </div>
    </div>

</section>