---
import config from "../../../../config";
import Breadcrumb from "../../../components/molecules/Breadcrumb.astro";
import PaginationSection from "../../../components/molecules/PaginationSection.astro";
import BlogList from "../../../components/organisms/BlogList.astro";
import Main from "../../../layouts/Main.astro"

export async function getStaticPaths({paginate}) {
const data = await fetch('https://api.storyblok.com/v1/cdn/stories' + `?&token=${"0N5jxUC1Wq7PEsvMxAOmrgtt"}&starts_with=articles&cv=${Date.now()} `)
const {stories} = await data.json()
stories.shift() //Remove first item which is the header one
return paginate(stories,{pageSize:config.itemPerPages})
}

const {page} = Astro.props
const pageNumber = Math.ceil(page.total / config.itemPerPages)
---

<Main title={"Blog (page " + page.currentPage +") | loak.studio)"}>
    <Breadcrumb link={[{title:'Blog',href:"/blog/"}]} current={"Page " + page.currentPage}/>

       
        <BlogList posts={page.data}/>
        
        <PaginationSection pages={pageNumber} current={page.currentPage}/>
</Main>