---
export async function getStaticPaths() {

const data = await fetch('https://api.storyblok.com/v1/cdn/stories' + `?&token=${import.meta.env.SB_TOKEN}&starts_with=services&cv=${new Date}`)
const {stories} = await data.json()
return stories.map((service) => {
    return {
        params: { slug: service.slug },
        props: service,
    };
});
}
import Breadcrumb from "@components/molecules/Breadcrumb.astro";
import Main from "@layouts/Main.astro";
import { Markdown } from 'astro/components';


const service = Astro.props
---

<Main title={service.name} description={service.content.content.substr(0,140) + "..."}>
    <Breadcrumb navigation={[ { title:service.name, href:"#" } ]} />
    <article class="markdown max-w-[64ch] mx-auto px-4 lg:px-0">
        <h1>{service.name}</h1>
        <Markdown content={service.content.content} />
    </article>
</Main>