---
import BlogPostPreview from "@components/molecules/BlogPost/BlogPostPreview.astro";
import CurrentBlogPostPreview from "@components/molecules/BlogPost/CurrentBlogPostPreview.astro";
import Breadcrumb from "@components/molecules/Breadcrumb.astro";
import Main from "@layouts/main.astro";
const data = await fetch('https://api.storyblok.com/v1/cdn/stories' + `?&token=${import.meta.env.SB_TOKEN}&starts_with=blog&cv=${new Date}`)
    const {stories} = await data.json()
const firstPost = stories.shift()
---

<Main title="Blog">

    <Breadcrumb navigation={[ { title:"Blog", href:"/blog" } ]} />
    <div class="max-w-5xl mx-auto">
        <h1 class="font-title text-5xl mb-8 pl-4">Blog</h1>
        <CurrentBlogPostPreview picture={firstPost.content.image} href={"/blog/" + firstPost.slug} title={firstPost.name}
            text={firstPost.content.intro} />
        <div class="space-y-4">
            {stories.map(article=>
            <div class="border-t lg:border-none max-w-[64ch] pt-4">
                <BlogPostPreview href={"/blog/" + article.slug} title={article.name} text={article.content.intro} />
            </div>
            )}
        </div>
    </div>
</Main>