---
import Main from "../layouts/Main.astro"
import Team from "../images/team.jpg"
import { Markdown } from 'astro/components';
import Breadcrumb from "../components/molecules/Breadcrumb.astro"
import Icon from "../components/atoms/Icon.astro";
const data = await fetch('https://api.storyblok.com/v1/cdn/stories' + `?&token=${"0N5jxUC1Wq7PEsvMxAOmrgtt"}&starts_with=notre-equipe&cv=${new Date}`)
const {stories} = await data.json()
---
<Main title="Notre équipe | loak.studio">
    <Breadcrumb current="Notre équipe"/>
    <article class="flex lg:flex-row flex-col w-full items-center max-w-6xl mx-auto lg:bg-[#F5F5F5] rounded-2xl p-5">
        <figure class="w-full shrink-0 lg:w-auto">
            <img class="w-full max-w-lg rounded-2xl lg:w-auto" src={Team} alt="Equipe de loak.studio">
        </figure>
        <p class=" leading-[188%] mt-4 lg:mt-0  lg:px-16 font-medium">
            Notre équipe se constitue de 3 personnes: Mathieu Lava, Benjamin Geets et Tristan Galand. Tristan est UX Designer, il se charge de comprendre en profondeur les besoins des visiteurs de vos sites internet. Mathieu et Benjamin sont, quant à eux, développeurs et spécialisés dans le domaine du développement web.
        </p>
    </article>
    <div class="grid w-full max-w-6xl px-4 mx-auto mt-24 lg:px-0 lg:grid-cols-3 gap-14">
        
        {stories.map(story=>
            <div class="space-y-6 ">
                <figure class="flex flex-col gap-6">
                    <img class="w-full max-w-[250px] rounded-2xl " src={story.content.Image.filename} alt="">
                    <figcaption class="text-4xl font-title">{story.content.Name}</figcaption>
                </figure>
                <span class="inline-block p-2 text-white rounded-md bg-primary-darker">{story.content.Title}</span>
                <Markdown content={story.content.Description}/>
                <ul class="flex gap-2 transition text-primary-darker">
                    {story.content.Linkedin &&
                        <li>
                           <a class="transition hover:text-primary-lighter" target="_blank" href={story.content.Linkedin}>
                            <Icon name="linkedin"/>
                           </a>
                        </li>
                    }
                    {story.content.Instagram &&
                        <li>
                           <a class="transition hover:text-primary-lighter" target="_blank" href={story.content.Instagram}>
                            <Icon name="instagram"/>
                           </a>
                        </li>
                    }
                    {story.content.Github &&
                        <li>
                            <a class="transition hover:text-primary-lighter" target="_blank" href={story.content.Github}>
                            <Icon name="github"/>
                            </a>
                        </li>
                    }
                    {story.content.Twitter &&
                        <li>
                            <a class="transition hover:text-primary-lighter" target="_blank" href={story.content.Twitter}>
                            <Icon name="twitter"/>
                            
                            </a>
                        </li>
                    }
                </ul>
            </div>
        )}
    </div>
</Main>