---
const {link,current} = Astro.props
const linkStyle = "hover:underline after:inline-block hover:after:no-underline after:content-['/'] after:mx-2"
---
<nav class="px-4 mx-auto mb-16 md:px-12 max-w-8xl text-lgrey-dark">
    <a href="/" class={linkStyle}>Accueil</a>
    {link &&
        link.map(l=>
        <a class={linkStyle} href={l.href}>{l.title}</a>
        )
    }
    <span class="text-lblack">
        {current}
    </span>
</nav>