---
import Main from "./main.astro"
import Hero from "../components/hero.astro"
import Ctacontact from "../components/ctacontact.astro"
import Discover from "../components/discover.astro"
import Portfolio from "../components/portfolio.astro"
import Breadcrumb from "../components/breadcrumb.astro"
import Contactform from "../components/contactform.astro"
const {components,page} = Astro.props
console.log(page)
--- 

<Main title={page.attributes.title} description={page.attributes.meta ? page.attributes.meta.description : null}>
    {page.attributes.slug != "homepage" &&
        <Breadcrumb current={page.attributes.title}/>
    }
    {components.map(component=>
        {
            switch(component.__component){
                case "page.hero":
                    return <Hero data={component}/>
                case "page.discover":
                    return <Discover data={component}/>
                case "page.ctacontact":
                    return <Ctacontact data={component}/>
                case "page.portfolio":
                    return <Portfolio/>
                case "page.contactform":
                    return <Contactform/>
                default:
                    return <p>{component.__component}</p>
            }
        }
    )}
</Main>