---
import Main from "./main.astro"
import Hero from "../components/hero.astro"
import Ctacontact from "../components/ctacontact.astro"
import Discover from "../components/discover.astro"
const {components} = Astro.props
--- 

<Main>
        {components.map(component=>
            {
                switch(component.__component){
                    case "page.hero":
                        return <Hero data={component}/>
                    case "page.discover":
                        return <Discover data={component}/>
                    case "page.ctacontact":
                        return <Ctacontact data={component}/>
                    default:
                        return <p>{component.__component}</p>
                }
            }
        )}
</Main>