---
import "../style/global.scss"
import Nav from "../components/nav.astro"
import Footer from "../components/footer.astro"

const {title = "loak.studio - Création de sites web dans la région de Tournai | Belgique",description = "loak.studio"} = Astro.props
const url = Astro.request.canonicalURL.href
const image = url + "share.png"
---
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title} | loak.studio</title>
       
    <!-- Primary Meta Tags -->
    <meta name="title" content={title}>
    <meta name="description" content={description}>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content={url}>
    <meta property="og:title" content={title}>
    <meta property="og:description" content={description}>
    <meta property="og:image" content={image}>

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content={url}>
    <meta property="twitter:title" content={title}>
    <meta property="twitter:description" content={description}>
    <meta property="twitter:image" content={image}>
    <link rel="canonical" href={Astro.request.canonicalURL}>
    <script async defer src="https://nullitics.com/script.js"></script>
</head>
<body class="flex flex-col min-h-screen bg-lwhite">
<Nav/>
     <div class="flex-1">
     <slot />
     </div>
<Footer/>
<script hoist>
  import '../scripts/app.js';
</script>
</body>
</html>