---
import Main from "@layouts/Main.astro";
import Breadcrumb from "@components/molecules/Breadcrumb.astro";
import { Markdown } from 'astro/components';
export async function getStaticPaths() {
    const data = await fetch('https://api.storyblok.com/v1/cdn/stories' + `?&token=${import.meta.env.SB_TOKEN}&starts_with=etudes-de-cas&cv=${new Date}`)
    const {stories} = await data.json()
    return stories.map((studyCase) => {
        return {
            params: { slug: studyCase.slug },
            props: studyCase,
        };
    });
}
const studyCase  = Astro.props
---

<Main image={studyCase.content.picture.filename} title={studyCase.name}>
    <Breadcrumb anchor="#study-cases" navigation={[ { title: "Etude de cas : " + studyCase.name, href:"/blog/" } ]} />
    <article class="markdown max-w-[64ch] w-full mx-auto  px-4 lg:px-0">
        <h1>{studyCase.name}</h1>
        <Markdown content={studyCase.content.content} />
    </article>
</Main>